doctype html
//
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Generic - Spectral by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='csrf-token', content=_csrf)
    link(rel='stylesheet', href='assets/css/hackmain.css')
    link(rel='stylesheet', href='assets/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Marck+Script|Shadows+Into+Light', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='assets/css/my-slider.css')
    script(src='assets/js/ism-2.2.min.js')


    // Favicon All Device Render
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    noscript
      link(rel='stylesheet', href='assets/css/noscript.css')

  body.is-preload
    // Header
    header#header
      h1
        a(href='/spectral') MiPi Feed
      nav#nav
        ul
          li.special
            a.menuToggle(href='#menu')
              span Menu
            #menu
              ul
                li
                  a(href='/spectral') Home
                li
                  a(href='miprofile') Feed
                li
                  a(href='/theme/generic.html') Mi Porfolio
                li
                  a(href='/signup') Sign Up
                li
                  a(href='/login') Log In
                li
                  a(href='/account') Mi Settings
                li
                  a(href='/logout') Logout
    // Main
    br
    div#miFeedDiv
      hr
      h1#miFeed Mi Feed
      hr
    article#main
      .row.gtr-50.gtr-uniform
        .col-1
        .col-10
        #my-slider.ism-slider(data-transition_type='zoom', data-play_type='loop', data-image_fx='zoompan')
            ol
                li
                  img(src='images/slides/flower-729514_1280.jpg')
                  a.ism-caption.ism-caption-1(href='#', target='_self', data-delay='800') Top 5  voted participants of the month!
                li
                  img(src='images/slides/beautiful-701678_1280.jpg')
                  a.ism-caption.ism-caption-1(href='#', target='_self', data-delay='1500') Congratulate them, they worked hard for this!
                li
                  img(src='images/slides/summer-192179_1280.jpg')
                li
                  img(src='images/slides/city-690332_1280.jpg')
                li
                  img(src='images/slides/bora-bora-685303_1280.jpg')
                  // can put text here >
                  //- .ism-caption.ism-caption-1(data-delay='200') 

        .col-4
          span.image.fit
            img(src='http://www.jayandsarah.nz/wp-content/uploads/2018/07/IMG_9040-1.jpg', alt='')
        .col-4
          span.image.fit
            img(src='https://cdn0.vox-cdn.com/uploads/chorus_asset/file/5899681/generalmuir_eater382016_burger.0.jpg', alt='')
        .col-4
          span.image.fit
            img(src='/images/food1.jpg', alt='shiskabob')
        .col-4
          span.image.fit
            img(src='https://i.dietdoctor.com/wp-content/uploads/2016/09/lcr.jpg?auto=compress%2Cformat&w=600&h=338&fit=crop', alt='')
        .col-4
          span.image.fit
            img(src='https://meggamag.com/wp-content/uploads/2018/09/watermelon-678x381.jpg', alt='')
        .col-4
          span.image.fit
            img(src='https://scstylecaster.files.wordpress.com/2016/08/sweet-potato-chick-pea-buddha-bowls-tahini-sauce.jpg', alt='')
        .col-4
          span.image.fit
            img(src='https://assets3.thrillist.com/v1/image/2727569/size/tmg-article_default_mobile.jpg', alt='')
        .col-4
          span.image.fit
            img(src='https://assets3.thrillist.com/v1/image/1729995/size/tmg-article_default_mobile.jpg', alt='')
        .col-4
          span.image.fit
            img(src='images/food3.jpeg', alt='cloud eggs')
    // Footer
    #footer
      ul.icons
        li
          a.icon.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.fa-facebook(href='#')
            span.label Facebook
        li
          a.icon.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.fa-dribbble(href='#')
            span.label Dribbble
        li
          a.icon.fa-envelope-o(href='#')
            span.label Email
      ul.copyright
        li © Untitled
        li
          | Design: 
          a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
    script(src='assets/js/bootstrap.min.js')
    